*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
		
body{
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	min-width:100%;
	min-height:100%;
}
		
.flex-container{
	display:flex;
	flex: 1 100%;
	flex-direction: row;
	align-items: stretch;
}

.flex-center-left{
	justify-content:start;
	align-items: center;
}
		
.flex-center-right{
	justify-content:end;
	align-items: center;
}
		
.flex-center-center{
	justify-content:center;
	align-items: center;
}

.flex-top-left{
	justify-content:start;
	align-items: start;
}
		
.flex-bottom-left{
	justify-content:start;
	align-items: end;
}

.flex-top-right{
	justify-content:end;
	align-items: start;
}

.flex-bottom-right{
	justify-content:end;
	align-items: end;
}

.caret::after{
	/*TODO*/
}

pre#text{
	font-family: "serif";
}
		