<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, min-width=550px, initial-scale=1, user-scalable=no" /> 
        <link rel="stylesheet" href="../static/CSS/generic.css" />

	</head>
	<body id="main">
	
        <div class="flex-container-col">
            <form id="login-form" class="flex-container-col flex-center-center margin_1em">

                <div class="flex-container-row flex-wrapper-input flex-center-left width_50 margin_1em">
              
                    <label for="name" class="login-text-label input-element margin_5px">Name
                        <input id="name" type="text" alt="name" class="margin_5px login-input input-element">
                    </label>

                </div>
                
                <div class="flex-container-row flex-wrapper-input margin_1em width_50">

                    <label for="keyFile" class="login-text-label margin_5px input-element">Key-File
                        <input id="keyFile" class="margin_5px login-input input-element" type="text" alt="public key file" readonly="true">
                        <input id="fileOpenButton" type="file" class="margin_5px login-text">
                    </label>

                </div>

                <div class="flex-container-row flex-center-right width_100">

                    <button id="login-button" class="flex-center-right">login</button>
		        
                </div>
            </form>
        </div>
			
		<script>
			
		</script>

	</body>
</html>